version: '3.8'

services:
  web:
    image: mylabapp:php8.3
    deploy:
      replicas: 3
      restart_policy:
        condition: on-failure
    ports:
      - "80:80"
    networks:
      - webnet

networks:
  webnet:

